.actorcontrol{
    -fx-font-weight: bold;
    -fx-font-size: 17px;
    -fx-padding: 5 10 5 10;
    
}

.usecasecontrol{
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 5 10 5 10;
}

.separator{
    -fx-background-color: #9dbfbe;
    -fx-background-insets: 2 1 1 1;
}

.classcontrol{
	-fx-background-color: #f2f2f2;
    -fx-border-color: #b2bfbf;
    -fx-border-width: 1.5;
}

.scroll-pane{
	-fx-background-color: #ffffff;
}

#dashed .line{
	-fx-border-color: #9dbfbe;
    -fx-border-style: dotted;  
}
