.text-area {
    -fx-background-color: #ffef00;
    -fx-border-color: black;
    -fx-background-radius:0;
}

.text-area .scroll-pane {
-fx-background-radius:0;
-fx-background-color: null;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: #ffef00;
-fx-background-radius:0;

}


.text-area .scroll-pane .content{
    -fx-background-color: #ffef00;
-fx-background-radius:0;
}

.text-area *.scroll-bar *.increment-button,
.text-area *.scroll-bar *.decrement-button{
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}
.text-area *.scroll-bar *.increment-arrow,
.text-area *.scroll-bar *.decrement-arrow{
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.text-area *.scroll-bar {
    -fx-opacity:0.5;
    -fx-background-color: null;
-fx-color: #ccbf00;
}

